.navbar-light .navbar-nav .nav-link
{
    color: black;
}
.navbar-light .navbar-nav .nav-link.active-link
{
    color: purple;
    text-decoration: underline;
}

.nav_bg
{
    background-color:#b34d4d;
    color :black
}
 
.nav-item{
    font-size: 20px;
    color:black;
}

.navbar-brand{
    color: black;
}
